<a href="/events">Voir tous les événements</a>

<section class="hero">
  <div class="hero__container">
    <%= image_tag "Arkhan.jpg"%>
    <div class="hero__message">
      <h1 class="hero-title">
        La boutique des Poon's
      </h1>

      <p class="subtitle">
        Tous les accessoires de competitions, pour les competiteurs.
      </p>
    </div>
  </div>
</section>
