<section class="heroo">
  <div class="heroo__container">
    <%= image_tag "Arkhan.jpg"%>
    <div class="heroo__message">
      <h1 class="heroo-title">
        L'Élevage des Poon's
      </h1>

      <p class="subtitle">
        Nos Adorables poneys 
      </p>
    </div>
  </div>
</section>